.legend {
    display: flex;
    width: 100%;
    border-top: 1px solid rgba(2, 65, 107, 0.7);
    justify-content: space-evenly;
}

.block {
    display: flex;
    align-items: center;
    width: fit-content;
    color: rgba(0, 0, 0, 0.75);
}

.red {
    background-color: rgba(204, 0, 0, 0.6);
    width: 27px;
    height: 25px;
}

.blue {
    background-color: rgba(0, 153, 255, 0.6);
    width: 27px;
    height: 25px;
}

.green {
    background-color: rgba(0, 102, 0, 0.6);
    width: 27px;
    height: 25px;
}

.text {
    margin-left: 5px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}